*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

}

.app {
  width: 100%;

  display: grid;
  grid-template-rows: 20em auto;
}

.menu {
  display: grid;
  place-items: center;
}

.menu_text {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.menu_text h1 {
  font-size: 3em;
  color: crimson;
  letter-spacing: 3px;
}

.menu_text p {
  font-weight: bold;
  letter-spacing: 2px;
}

.menu_text input {
  margin-top: 3em;
  padding: .7em 1em;
  border: 1px solid transparent;
  outline: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(28, 148, 213, 0.43);
}

.search {
  all: unset;
  cursor: pointer;
  margin-left: 3em;
  padding: .3em 1em;
  box-shadow: 0 0 5px rgba(28, 148, 213, 0.43);
  border-radius: 5px;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1em;
  padding: 1em;
}

.card {
  background: #fff;
  box-shadow: 0 0 5px rgba(28, 148, 213, 0.43);
  border-radius: 5px;
  padding: 1em;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.emoji {
  font-size: 3em;
}

@media (min-width: 600px) {
  .container {
    width: 80%;
    margin-inline: auto;
  }
  
}